.footer {
    width: 100%;
    display: flex;
    color: var(--color-text);
    background-color: var(--color-header-footer);
    height: 71px;
  }

  
  .footer-text {
    font-size: 18px;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer div {
    display: flex;
    align-items: center;
  }
  
  .icon-box a {
    color: white;
    font-size: 31px;
    margin-left: 18px;
    transition: color 0.3s;
  }
  
  .icon-box a:hover {
    color: rgb(36, 36, 236);
  }
  
  .icon-box {
    margin-left: auto;
  }