:root {
  --color-text: #ffffff;
  --color-header-footer: #4e4e4e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.roboto-bold {
  font-weight: 700;
}

.header-text {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.marg {
  margin: 0 0 0 46px;
}

.contacts {
  cursor: not-allowed;
}

.header-right {
  float: right;
}

.contenr-info-text {
  width: 960px;
}

.info-text {
  width: 55%;
  color: var(--color-text);
}
